
.page.theme_auto{
--main-color:#42aaff;
  --background-color:#42aaff;
  --nav-title:#42aaff;
  --header-image:;
  --header-group:;
  --background-site:#606e8c;
  --header-title:#4271ff;
  --text-color:#000000;
  --article-color:#001d5c;
}